{% extends './admin_layout.twig' %}

{% block main %}
    <h2>Genres</h2>
    <h3>Добавить жанр</h3>
    <form method="post" action="/admin/genres/add">
        <label>Название<input type="text" name="title" required></label>
        <input type="submit" value="Добавить">
    </form>
    <form method="post" action="/admin/genres/remove">
        <label>Все жанры<select name="genre">
                {% for genre in genres %}
                    <option value="{{ genre.genre_id }}">{{ genre.title }}</option>
                {% endfor %}
            </select></label>
        <input type="submit" value="Удалить">
    </form>
{% endblock %}