{% extends './admin_layout.twig' %}

{% block main %}
    <h2>Lists panel</h2>
    {% include 'admin/list.twig' with {title:'New Releases',books:new_releases,id:1} %}
    {% include 'admin/list.twig' with {title:'Coming Soon',books:coming_soon,id:2} %}
    {% include 'admin/list.twig' with {title:'Best Sellers',books:best_sellers,id:3} %}
    {% include 'admin/list.twig' with {title:'Award Winner',books:award_winner,id:4} %}
{% endblock %}
