{% extends 'layout.twig' %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="/css/basket.css"/>
    <div class="content_wrap">
    {% if basket is empty %}
        <b>Корзина пуста</b>
    {% else %}
    <ul>
    {% for product in basket %}
        {% include './item.twig' with product%}
    {% endfor %}
    </ul>
        <form method="post" action="/basket/buy">
            <input type="submit" value="Оформить заказ"/>
        </form>
    {% endif %}
    </div>
{% endblock %}
