<!DOCTYPE html>
<html lang="ru"
      class="scheme_original js no-touch csstransitions js_active  vc_desktop  vc_transform  vc_transform ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Booklovers – Your Favorite Bookshelf!</title>
    <style>
        .shop-header-ref-wrap {
            text-align: center;
        }

        .shop-header {
            background-size: cover;
            background: url("/images/bg1.jpg") center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            margin: 20px 0;
            min-height: calc(100vw / 4);
        }

        .shop-header > .content-wrap {
            width: 100%;
        }

        .shop-header-text, .shop-header-title, .shop-header-ref {
            color: white;
            text-align: center;
        }

        .shop-header-ref {
            display: inline-block;
            padding: 0.5em 1.2em;
            border: 2px solid;
            text-transform: uppercase;
            font-weight: 700;
            margin-top: 1em;
        }

        .shop-header-title {
            margin: 1em;
            font-size: 1.5em;
        }

        .shop-header-text {
            margin: 1em;
            font-size: 1.1em;
        }
    </style>
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% include 'partials/links.twig' %}
</head>

<body>
{% include 'header/header.twig' %}
{% block body %}{% endblock %}
{% include 'partials/footer.twig' %}
<a href="http://booklovers.ancorathemes.com/#" class="scroll_to_top icon-up show" title="Scroll to top"></a>
<div class="custom_html_section">
</div>
{% include 'partials/scripts.twig' %}
</body>
</html>