<div id="content_container">
    <h1>Links Page</h1>
    <table>
        <tr>
            <td>
                <a href="amazon.com">amazon</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.chitai-gorod.ru/">Читай-город</a>
            </td>
        </tr>
    </table>
</div>