<div data-vc-full-width="true" data-vc-full-width-init="true"
     class="vc_row wpb_row vc_row-fluid vc_custom_1456131069806">
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner">
            <div class="wpb_wrapper"></div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner vc_custom_1493217910336">
            <div class="wpb_wrapper"><h3
                    class="sc_title sc_title_underline sc_align_center inverse "
                    style="text-align:center;color:#ffffff;"><em>Оставайтесь в курсе</em>&nbsp;
                with Our Updates</h3>
                <div class="wpb_text_column wpb_content_element  vc_custom_1493217916802">
                    <div class="wpb_wrapper">
                        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-1251"
                              method="post" action="/emails/add">
                            <div class="mc4wp-form-fields"><input type="email"
                                                                  class="sc_emailer_input"
                                                                  name="email" value=""
                                                                  placeholder="Введите свою почту здесь" required>
                                <input type="submit" class="sc_emailer_button"
                                       value="Подписаться">
                            </div>
                        </form><!-- / Mailchimp for WordPress Plugin -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner">
            <div class="wpb_wrapper"></div>
        </div>
    </div>
</div>