<li id="{{ tag }}" class="sc_tabs_title first ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active {% if active %}ui-state-active{% endif %}"
    role="tab" tabindex="{{tabindex}}" aria-controls="sc_tab_1456822345_1_17"
    aria-labelledby="sc_tab_1456822345_1_17_tab"
    aria-selected="true" aria-expanded="true">
    <a>{{title}}</a>
</li>
<!--
<li class="sc_tabs_title ui-tabs-tab ui-corner-top ui-state-default ui-tab"
    role="tab" tabindex="-1" aria-controls="sc_tab_1456822345_2_72"
    aria-labelledby="sc_tab_1456822345_2_72_tab"
    aria-selected="false" aria-expanded="false"><a
        href="http://booklovers.ancorathemes.com/#sc_tab_1456822345_2_72"
        class="theme_button ui-tabs-anchor"
        id="sc_tab_1456822345_2_72_tab" role="presentation"
        tabindex="-1">coming soon</a></li>
<li class="sc_tabs_title ui-tabs-tab ui-corner-top ui-state-default ui-tab"
    role="tab" tabindex="-1" aria-controls="sc_tab_1456822446659_6"
    aria-labelledby="sc_tab_1456822446659_6_tab"
    aria-selected="false" aria-expanded="false"><a
        href="http://booklovers.ancorathemes.com/#sc_tab_1456822446659_6"
        class="theme_button ui-tabs-anchor"
        id="sc_tab_1456822446659_6_tab" role="presentation"
        tabindex="-1">best sellers</a></li>
<li class="sc_tabs_title last ui-tabs-tab ui-corner-top ui-state-default ui-tab"
    role="tab" tabindex="-1" aria-controls="sc_tab_1456822448754_7"
    aria-labelledby="sc_tab_1456822448754_7_tab"
    aria-selected="false" aria-expanded="false"><a
        href="http://booklovers.ancorathemes.com/#sc_tab_1456822448754_7"
        class="theme_button ui-tabs-anchor"
        id="sc_tab_1456822448754_7_tab" role="presentation"
        tabindex="-1">award winners</a></li>-->
