{% extends 'layout.twig' %}

{% block body %}
    <div class="content_wrap">
        {% if orders is empty %}
            <p>Ничего нет</p>
        {% else %}
            {% for order in orders %}
                <div style="margin:10px;border: 1px solid #999999;padding: 10px">
                    <div>Номер заказа: <a href="/orders/{{ order._id }}">{{ order._id }}</a></div>
                    <p>Дата: {{ order.date }}</p>
                    <p>Адрес: {{ order.address }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
