<div data-vc-full-width="true" data-vc-full-width-init="true"
     class="vc_row wpb_row vc_row-fluid vc_custom_1455289147662"
     style="position: relative; left: -349.5px; box-sizing: border-box; width: 1899px; padding-left: 349.5px; padding-right: 349.5px;">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="sc_content content_wrap"
                     style="margin-top: 5em;margin-bottom: 4.7em;"><h4
                        class="sc_title sc_title_underline sc_align_center"
                        style="text-align:center;"><em>Most</em> Popular Authors</h4>
                    <div id="sc_team_1097858985_wrap" class="sc_team_wrap">
                        <div id="sc_team_1097858985" class="sc_team sc_team_style_team-3 "
                             style="width:100%;">
                            <div class="sc_columns columns_wrap">
                                {% for author in most_popular %}
                                    {% include './item.twig' with author%}
                                {% endfor %}
                                <!--
                                -->{#{{>index/most_popular/item title="Joel Morris" img="/img/team-10-370x370.jpg" href=""}}<!--
                                -->{{>index/most_popular/item title="Johan Samuel" img="/img/team-2-370x370.jpg" href=""}}<!--
                                -->{{>index/most_popular/item title="Laura Gofman" img="/img/team-5-370x370.jpg" href=""}}<!--
                                -->{{>index/most_popular/item title="Michael Joseph" img="/img/team-4-370x370.jpg" href=""}}<!--
                                -->{{>index/most_popular/item title="Sem Joseph" img="/img/team-8-370x370.jpg" href=""}}#}
                            </div>
                        </div><!-- /.sc_team --></div><!-- /.sc_team_wrap --><a
                            href="/shop"
                            class="sc_button sc_button_square sc_button_style_filled sc_button_size_small aligncenter"
                            style="width:120px;">view more</a></div>
            </div>
        </div>
    </div>
</div>