<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3 home1-block7 margin_top_large margin_bottom_huge">
                    <div class="column-2_3 sc_column_item sc_column_item_1 odd first span_2">
                        <h6 class="sc_title sc_title_underline sc_align_left"
                            style="text-align:left;">FEATURED BESTSELLERS</h6>
                        <div class="sc_section column-5_11" style="float: left;">
                            <div class="sc_section_inner">
                                <figure class="sc_image  sc_image_shape_square"
                                        style=" box-shadow: 0px 3px 10px 0px #adadab; -webkit-box-shadow: 0px 3px 10px 0px #adadab; ">
                                    <img src="/img/book1.jpg"
                                         alt=""></figure>
                            </div>
                        </div>
                        <div class="sc_section column-5_11" style="float: right;">
                            <div class="sc_section_inner"><h4
                                    class="sc_title sc_title_regular margin_bottom_tiny"
                                    style="margin-top: -0.34em;">Let the sun shine</h4>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p><span
                                                style="color: #de3241;"><strong>Author:</strong></span>
                                            Angelika Glow</p>
                                        <p>This delightful book is the latest in the series
                                            of Ladybird books which have been specially
                                            planned to help grown-ups with the world about
                                            them…</p>
                                        <p>Price: <strong><span
                                                style="color: #de3241; font-size: 1.471em;">$14.99</span></strong>
                                        </p>

                                    </div>
                                </div>
                                <a href="http://booklovers.ancorathemes.com/shop/pride-and-prejudice-and-zombies"
                                   class="sc_button sc_button_square sc_button_style_filled sc_button_size_small margin_top_large">more
                                    info</a></div>
                        </div>
                    </div><!--
                    --><div class="column-1_3 sc_column_item sc_column_item_3 odd after_span_2"
                         style="padding-left: 5.5em;">
                        <div class="wpb_widgetised_column wpb_content_element">
                            <div class="wpb_wrapper">

                                <aside id="woocommerce_products-2"
                                       class="widget_number_1 widget woocommerce widget_products">
                                    <h5 class="widget_title">What’s new?</h5>
                                    <ul class="product_list_widget">
                                        {% include 'partials/index/featured/item.twig' with {title:"It’s a really strange story", price:"20.55", href:"", img:"/img/book12.jpg"} %}<!--
                                        -->{#{{>index/featured/item title="The story about me" price="20.55" href="" img="/img/book10-340x520.jpg"}}<!--
                                        -->{{>index/featured/item title="Cooking with love" price="20.55" rating="5" img="/img/book11-340x520.jpg" href=""}}<!--
                                        -->{{>index/featured/item title="Lonely man in white hat" price="20.55" img="/img/book9-340x520.jpg" href=""}}#}
                                    </ul>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>