<div class="shop-header">
    <div class="content-wrap">
        <h3 class="shop-header-title">Вдохновлять ежедневным чтением</h3>
        <h4 class="shop-header-text">Посетите наш блог и страницу Узнайте ежедневные вдохновляющие цитаты лучших авторов</h4>
        {#<div class="shop-header-ref-wrap">
            <a href="/"
               class="shop-header-ref">visit our blog</a>
        </div>#}
    </div>
</div>