<div class="shop-mainbar list_products shop_mode_thumbs">

    <p class="woocommerce-result-count">
        Showing all {{ books|length }} results</p>
        <select form="search_form" name="sortby" class="orderby" aria-label="Shop order" required>
            {% set sorting = [
                {key:"menu_order",title:"Обычная сортировка"},
                {key:"popularity",title:"Сортировать по популярности"},
                {key:"rating",title:"Сортировать по рейтингу"},
                {key:"date",title:"Сначала новые"},
                {key:"price",title:"От дешевых к дорогим"},
                {key:"price-desc",title:"От дорогих к дешевым"}] %}
            {% for sort in sorting %}
            <option value="{{ sort.key }}" {%  if sortby == sort.key %}selected{% endif %} >{{ sort.title }}</option>
            {% endfor %}
        </select>
        <input form="search_form" type="hidden" name="paged" value="1">
        <input form="search_form" type="submit" value="Сортировать">
    {% if books is empty %}
        <p>Ничего не найденр</p>
    {% else %}
    <ul class="item-list">
        {%  for book in books %}
            {% include './item.twig' with book %}
        {% endfor %}
    </ul>
    {% endif %}
</div>
</div>