<header class="top_panel_wrap top_panel_style_4">
    <div class="top_panel_wrap_inner top_panel_inner_style_4 top_panel_position_above">
        <div class="top_panel_top">
            <div class="content_wrap clearfix">
                <div class="slogan_in_top">Добро пожаловать в наш магазин!</div>
                <div class="contact_phone_in_top">
                    Бесплатный звонок <span><a href="tel:123-456-7890">123-456-7890</a></span></div>
                <div class="top_panel_top_user_area">
                    <ul id="menu_user" class="menu_user_nav inited sf-js-enabled sf-arrows" style="display: flex;">
                        <li class="menu_user_login">
                            {% if huser is not defined %}
                            <a href="/login" class="popup_Flink popup_login_link icon-user inited">Войти</a>
                            {% else %}
                            <a href="/my" class="popup_link popup_login_link icon-user inited">{{ huser.username }}</a>
                        </li>
                        <li><a href="/login/logout"
                               style="height: 100%;border: none; text-transform:none;font-weight: normal;color: #797979;"
                               class="popup_link">Выйти</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top_panel_middle">
            <div class="content_wrap">
                <a class="logo" href="/"><img
                            src="/img/footer-2.png"
                            class="logo_main" alt="footer-2" width="195" height="29"><br>
                    <div class="logo_slogan">Your Favorite Bookshelf!</div>
                </a>
                <div class="menu_main_wrap">
                    <nav class="menu_main_nav_area">
                        <ul id="menu_main" class="menu_main_nav inited sf-js-enabled sf-arrows">
                            {% include './nav_item.twig' with {title:"Главная", active: nav == "index", ref:"/"} %}
                            {% include './nav_item.twig' with {title:"Магазин", active: nav == "shop", ref:"/shop"} %}
                            {% include './nav_item.twig' with {title:"О Нас", active: nav == "about", ref:"/about"} %}
                            {% include './nav_item.twig' with {title:"Контакты", active: nav == "contacts", ref:"contacts"} %}
                        </ul>
                    </nav>
                    <div class="menu_user_cart">
                        <a href="/basket" class="top_panel_cart_button">
                            <span class=" icon-cart"></span>
                            <span class="contact_cart_totals">
                                <span class="cart_items">
                                    {{ basket|length }}
                                </span>
                            </span>
                        </a>
                    </div>
                    <div style="margin-left: 20px" class="menu_user_cart">
                        <a href="/bookmarks" class="top_panel_cart_button">
                            <span class="cart_items">Мои Закладки</span></a>
                    </div>
                    <form style="margin-left: 20px" method="get" class="search_form" action="/search">
                        <button type="submit" class="search_submit icon-search">Поиск</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="shop-header">
            <div class="content-wrap">
                <h3 class="shop-header-title">Вдохновлять ежедневным чтением</h3>
                <h4 class="shop-header-text">Посетите наш блог и страницу Узнайте ежедневные вдохновляющие цитаты лучших
                    авторов</h4>

            </div>
        </div>
    </div>
</header>
