<li id="menu-item-61"
    class="menu-item menu-item-type-custom menu-item-object-custom {% if active %}current-menu-ancestor{% endif %} menu-item-has-children menu-item-61">
    <a href="{{ ref }}" class="sf-with-ul">{{ title }}</a>
</li>