<div data-vc-full-width="true" data-vc-full-width-init="true"
     class="vc_row wpb_row vc_row-fluid vc_custom_1456735764104"
     style="position: relative; left: -349.5px; box-sizing: border-box; width: 1899px; padding-left: 349.5px; padding-right: 349.5px;">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div id="sc_testimonials_881308824"
                     class="sc_testimonials sc_testimonials_style_testimonials-1 "
                     style="margin-top: 4.9em;margin-bottom: 3.1em;width:100%;">
                    <div class="sc_slider_swiper swiper-slider-container sc_slider_pagination sc_slider_pagination_bottom sc_slider_nocontrols inited swiper_02832970008590907 swiper-container-horizontal"
                         data-interval="8006" data-slides-min-width="250"
                         id="swiper_02832970008590907" style="cursor: grab;">
                        <div class="slides swiper-wrapper"
                             style="transition-duration: 0ms; transform: translate3d(-2340px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-duplicate"
                                 data-style="width:100%;"
                                 style="width: 1170px; position: relative;"
                                 data-swiper-slide-index="2">
                                <div id="sc_testimonials_881308824_3"
                                     class="sc_testimonial_item">
                                    <div class="sc_testimonial_content"><p>My husband loves
                                        books. I think that book is the perfect gift for all
                                        holidays. I would definitely recommend BookLovers to
                                        my family and friends.</p>
                                    </div>
                                    <div class="sc_testimonial_avatar"><img
                                            class="wp-post-image" width="47" height="47"
                                            alt="Laura Priston"
                                            src="/img/testimonials-1-47x47.jpg">
                                    </div>
                                    <div class="sc_testimonial_author"><a
                                            href="http://booklovers.ancorathemes.com/#"
                                            class="sc_testimonial_author_name">Laura
                                        Priston</a></div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-prev"
                                 data-style="width:100%;"
                                 style="width: 1170px; position: relative;"
                                 data-swiper-slide-index="0">
                                <div id="sc_testimonials_881308824_1"
                                     class="sc_testimonial_item">
                                    <div class="sc_testimonial_content"><p>I love read
                                        romance books. Is so amazing to have your love story
                                        in a book that you can always look back on and never
                                        forget how much you love each other.</p>
                                    </div>
                                    <div class="sc_testimonial_avatar"><img
                                            class="wp-post-image" width="47" height="47"
                                            alt="Joel Morris"
                                            src="/img/testimonials-3-47x47.jpg">
                                    </div>
                                    <div class="sc_testimonial_author"><a
                                            href="http://booklovers.ancorathemes.com/#"
                                            class="sc_testimonial_author_name">Joel
                                        Morris</a></div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-active"
                                 data-style="width:100%;"
                                 style="width: 1170px; position: relative;"
                                 data-swiper-slide-index="1">
                                <div id="sc_testimonials_881308824_2"
                                     class="sc_testimonial_item">
                                    <div class="sc_testimonial_content"><p>I just wanted to
                                        let you know how pleased I am with your site. I
                                        found what I needed easily and the books arrived in
                                        a timely manner. Keep up the great work.</p>
                                    </div>
                                    <div class="sc_testimonial_avatar"><img
                                            class="wp-post-image" width="47" height="47"
                                            alt="Dean White"
                                            src="/img/testimonials-2-47x47.jpg">
                                    </div>
                                    <div class="sc_testimonial_author"><a
                                            href="http://booklovers.ancorathemes.com/#"
                                            class="sc_testimonial_author_name">Dean
                                        White</a></div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next"
                                 data-style="width:100%;"
                                 style="width: 1170px; position: relative;"
                                 data-swiper-slide-index="2">
                                <div id="sc_testimonials_881308824_3"
                                     class="sc_testimonial_item">
                                    <div class="sc_testimonial_content"><p>My husband loves
                                        books. I think that book is the perfect gift for all
                                        holidays. I would definitely recommend BookLovers to
                                        my family and friends.</p>
                                    </div>
                                    <div class="sc_testimonial_avatar"><img
                                            class="wp-post-image" width="47" height="47"
                                            alt="Laura Priston"
                                            src="/img/testimonials-1-47x47.jpg">
                                    </div>
                                    <div class="sc_testimonial_author"><a
                                            href="http://booklovers.ancorathemes.com/#"
                                            class="sc_testimonial_author_name">Laura
                                        Priston</a></div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate"
                                 data-style="width:100%;"
                                 style="width: 1170px; position: relative;"
                                 data-swiper-slide-index="0">
                                <div id="sc_testimonials_881308824_1"
                                     class="sc_testimonial_item">
                                    <div class="sc_testimonial_content"><p>I love read
                                        romance books. Is so amazing to have your love story
                                        in a book that you can always look back on and never
                                        forget how much you love each other.</p>
                                    </div>
                                    <div class="sc_testimonial_avatar"><img
                                            class="wp-post-image" width="47" height="47"
                                            alt="Joel Morris"
                                            src="/img/testimonials-3-47x47.jpg">
                                    </div>
                                    <div class="sc_testimonial_author"><a
                                            href="http://booklovers.ancorathemes.com/#"
                                            class="sc_testimonial_author_name">Joel
                                        Morris</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_slider_controls_wrap"><a class="sc_slider_prev"
                                                                href="http://booklovers.ancorathemes.com/#"></a><a
                                class="sc_slider_next"
                                href="http://booklovers.ancorathemes.com/#"></a></div>
                        <div class="sc_slider_pagination_wrap swiper-pagination-clickable">
                            <span class="swiper-pagination-bullet"></span><span
                                class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                                class="swiper-pagination-bullet"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>