<div data-vc-full-width="true" data-vc-full-width-init="true"
     class="vc_row wpb_row vc_row-fluid vc_custom_1456131069806"
     style="position: relative; left: -349.5px; box-sizing: border-box; width: 1899px; padding-left: 349.5px; padding-right: 349.5px;">
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner">
            <div class="wpb_wrapper"></div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner vc_custom_1493217910336">
            <div class="wpb_wrapper"><h3
                    class="sc_title sc_title_underline sc_align_center inverse "
                    style="text-align:center;color:#ffffff;"><em>Stay In Touch</em>&nbsp;
                with Our Updates</h3>
                <div class="wpb_text_column wpb_content_element  vc_custom_1493217916802">
                    <div class="wpb_wrapper">
                        <script>(function () {
                            window.mc4wp = window.mc4wp || {
                                listeners: [],
                                forms: {
                                    on: function (evt, cb) {
                                        window.mc4wp.listeners.push(
                                                {
                                                    event: evt,
                                                    callback: cb
                                                }
                                        );
                                    }
                                }
                            }
                        })();
                        </script>
                        <!-- Mailchimp for WordPress v4.8.3 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-1251"
                              method="post" data-id="1251" data-name="">
                            <div class="mc4wp-form-fields"><input type="email"
                                                                  class="sc_emailer_input"
                                                                  name="email" value=""
                                                                  placeholder="Enter Your Email Here">
                                <input type="submit" class="sc_emailer_button"
                                       value="Sign up">
                            </div>
                            <label style="display: none !important;">Leave this field empty
                                if you're human: <input type="text" name="_mc4wp_honeypot"
                                                        value="" tabindex="-1"
                                                        autocomplete="off"></label><input
                                type="hidden" name="_mc4wp_timestamp"
                                value="1614608444"><input type="hidden"
                                                          name="_mc4wp_form_id"
                                                          value="1251"><input type="hidden"
                                                                              name="_mc4wp_form_element_id"
                                                                              value="mc4wp-form-1">
                            <div class="mc4wp-response"></div>
                        </form><!-- / Mailchimp for WordPress Plugin -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner">
            <div class="wpb_wrapper"></div>
        </div>
    </div>
</div>