.item-wrap{
    position: relative;
    margin:auto 10px;
    border:1px solid #bbbbbb;
    border-radius: 10px;
    height: 100%;
}

.list-item{
    width: 200px;
}

.center{
    text-align: center;
}

label{
    width: 200px;
    display: block;
}

.list-item-wrap{
    display: inline-block;
}

.item-remove-icon{
    background:no-repeat center url("/images/remove.png");
    background-size: contain;
    z-index: 1;
    position: absolute;
    top:0;
    right: 0;
    width:24px;
    border:1px;
    height: 24px;
}

.list-wrap{
    align-items: stretch;
    flex-direction: row;
    display: flex;
}

.list-item img{
    width:100%;
}

.item-title, .item-author, .item-price{
    text-align: center;
}

.add-item{
    display: block;
    height: 100%;
    min-height: 400px;
    width:200px;
    background:no-repeat center url("/img/add-icon.png");
    background-size: contain;
}

main{
    display: flex;
}

.sidebar{
    border-bottom: 1px solid #3a3a3a;
    border-right: 1px solid #3a3a3a;
    flex-shrink: 0;
}

.sidebar a {
    display: block;
    padding: 1em 3em;
    color:black;
    margin:0.5em 1em;
    border: 1px solid #3a3a3a;
}

.sidebar a:hover{
    color: #fe3d2e;
}

.mainbar{
    flex-grow: 1;
    padding: 2em;
}

.sc_field{
    display: block;
    padding:0.25em 0.5em;
}

.wrap{
    margin:1em;
}

.author_img, .book_img{
    width:200px;
    flex-shrink: 0;
}

.author_info, .book_info{
    flex-grow: 0;
}

.fields_wrap{
    display: inline-block;
    padding:0.5em;
    border: 1px solid #3a3a3a;
    border-radius: 0.5em;
}

.author_wrap, .book_wrap {
    display: flex;
}

.field{
    width:auto;
    display: block;
    padding:0.5em 2em;
}

.field_wrap{
    margin:0.5em 2em;
    display: block;
}

.book_list_wrap{
    width: 200px;
}

.books_list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 8px;
}

.book_description{
    width:500px;
    height:200px;
}