{% extends 'layout.twig' %}

{% block body %}
    <form method="post" action="/basket/buy">
        <input type="hidden" name="step" value="payment">
        <input type="hidden" name="address" value="{{ address }}">
        <input type="text" name="card_number" placeholder="номер карты">
        <input type="text" name="card_validity" placeholder="Срок действия">
        <input type="text" name="card_owner" placeholder="Владелец">
        <input type="text" name="card_code" placeholder="CVV">
        <input type="submit" value="Оплатить">
    </form>
{% endblock %}
