{% extends 'layout.twig' %}

{% block body %}
    <div class="content_wrap">
        <div class="content">
            <article
                    class="itemscope post_item post_item_single post_featured_default post_format_standard post-51 page type-page status-publish hentry"
                    itemscope="" itemtype="//schema.org/Article">
                <section class="post_content" itemprop="articleBody">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper"><h4 class="sc_title sc_title_regular margin_top_small">
                                    Свяжитесь с нами</h4></div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid contact_us vc_custom_1550825118205">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <div class="sc_form_address_field"><span
                                                        class="sc_form_address_label">Адресс</span><br>
                                                <span class="sc_form_address_data">г.Казань, ул. Большая Красная, 55</span>
                                            </div>
                                            <div class="sc_form_address_field"><span
                                                        class="sc_form_address_label">Мы открыты</span><br>
                                                <span class="sc_form_address_data">Понедельник – Пятница с 10:00 – до 20:00 PM</span>
                                            </div>
                                            <div class="sc_form_address_field"><span
                                                        class="sc_form_address_label">Телефон</span><br>
                                                <span class="sc_form_address_data"><a href="tel:123-456-7890">123-456-7890</a></span>
                                            </div>
                                            <div class="sc_form_address_field"><span
                                                        class="sc_form_address_label">E-mail</span><br>
                                                <span class="sc_form_address_data"><a
                                                            href="mailto:info@booklovers.com">info@booklovers.com</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny margin_top_small margin_bottom_small">
                                        <div class="sc_socials_item"><a
                                                    href="https://www.facebook.com/AncoraThemes/" target="_blank"
                                                    class="social_icons social_facebook"><span
                                                        class="icon-facebook"></span></a></div>
                                        <div class="sc_socials_item"><a href="https://twitter.com/ancora_themes"
                                                                        target="_blank"
                                                                        class="social_icons social_twitter"><span
                                                        class="icon-twitter"></span></a></div>
                                        <div class="sc_socials_item"><a
                                                    href="https://www.instagram.com/ancora_themes/" target="_blank"
                                                    class="social_icons social_instagramm"><span
                                                        class="icon-instagramm"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div role="form" class="wpcf7" id="wpcf7-f1328-p51-o1" lang="en-US"
                                         dir="ltr">
                                        <div class="screen-reader-response"><p role="status" aria-live="polite"
                                                                               aria-atomic="true"></p>
                                            <ul></ul>
                                        </div>
                                        <form id="contact_form" action="/contats/contact"
                                              method="post" class="wpcf7-form init" novalidate="novalidate">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="1328">
                                                <input type="hidden" name="_wpcf7_version" value="5.4">
                                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                <input type="hidden" name="_wpcf7_unit_tag"
                                                       value="wpcf7-f1328-p51-o1">
                                                <input type="hidden" name="_wpcf7_container_post" value="51">
                                                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                            </div>
                                            <p><span class="wpcf7-form-control-wrap your-name"><input form="contact_form"
                                                            type="text" name="your-name" value="" size="40"
                                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="Имя*"></span></p>
                                            <p><span class="wpcf7-form-control-wrap your-email"><input form="contact_form"
                                                            type="email" name="your-email" value="" size="40"
                                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="E-mail*"></span></p>
                                            <p><span class="wpcf7-form-control-wrap your-s"><input type="text" form="contact_form"
                                                                                                   name="your-s"
                                                                                                   value=""
                                                                                                   size="40"
                                                                                                   class="wpcf7-form-control wpcf7-text"
                                                                                                   aria-invalid="false"
                                                                                                   placeholder="Вопрос"></span>
                                            </p>
                                            <p><span class="wpcf7-form-control-wrap your-message"><textarea form="contact_form"
                                                            name="your-message" cols="40" rows="10"
                                                            class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="Текст*"></textarea></span></p>
                                            <p><input type="submit" value="Отправить вопрос"
                                                      class="wpcf7-form-control wpcf7-submit"><span
                                                        class="ajax-loader"></span></p>
                                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
            <section class="related_wrap related_wrap_empty"></section>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4844.632150626433!2d49.12763696562303!3d55.79738422322738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead6c9b53b717%3A0xdc0f275662e707d5!2z0JrQndCY0KLQoy3QmtCQ0Jg!5e0!3m2!1sru!2sru!4v1621664790666!5m2!1sru!2sru" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
{% endblock %}
